body {
background-color: #000;
font-family: Arial, sans-serif;
text-align: center;
cursor: pointer;
}

.carregamento {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #000;
display: flex;
justify-content: center;
align-items: center;
font-size: 24px;
color: #FF69B4;
z-index: 9999;
}

.barra-carregamento {
width: 50%;
height: 10px;
border: 1px solid #FF69B4;
border-radius: 5px;
overflow: hidden;
}

.progresso {
width: 0%;
height: 100%;
background-color: #FF69B4;
transition: width 5000ms;
}

.container {
width: 90%;
margin: 20px auto;
border: 2px solid #ff0055;
box-shadow: 0 0 10px #ff0055;
padding: 20px;
background-color: rgba(0, 0, 0, 0.8);
}

.titulo-amor {
font-size: 36px;
font-weight: bold;
color: #ff0055;
text-shadow: 0 0 10px #ff0055;
margin-bottom: 20px;
}

.foto-container {
width: 30%;
margin: 20px auto;
border: 2px solid #ff0055;
box-shadow: 0 0 10px #ff0055;
border-radius: 10px;
}

.foto-nosso {
width: 100%;
height: auto;
aspect-ratio: 4/4;
object-fit: cover;
border-radius: 10px;
}

.nomes {
font-size: 48px;
font-weight: bold;
color: #ff0055;
text-shadow: 0 0 10px #ff0055;
margin-bottom: 10px;
}

.texto-amor {
font-size: 18px;
color: #ff69b4;
margin-bottom: 20px;
text-align: justify;
padding: 20px;
border-radius: 10px;
background-color: rgba(0, 0, 0, 0.5);
}

.contador-container {
display: flex;
flex-direction: column;
align-items: center;
}

.contador {
display: flex;
justify-content: space-around;
}

.contador-coluna {
margin: 20px;
display: flex;
flex-direction: column;
align-items: center;
}

.contador span {
font-size: 24px;
font-weight: bold;
color: #ff0055;
}

.contador p {
font-size: 18px;
color: #ff0055;
}

iframe {
width: 1px;
height: 1px;
opacity: 0;
position: absolute;
z-index: -1;
}
